<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkJWdGsUx09wRRvyOZlua2kQo1FGsy07o</string>
	<key>GCM_SENDER_ID</key>
	<string>705257545244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.templateFlutterDev</string>
	<key>PROJECT_ID</key>
	<string>template-flutter-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>template-flutter-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705257545244:ios:af80b55ed6bb0a93bac9d9</string>
</dict>
</plist>